extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") Super Heroes Social Network
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
    section.content
        div(ng-view)


    footer.container
        p &copy; 2016 Super Hero SN