doctype
html
    head
        base(href='/')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Super Heroes Social Network
        //link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/css/main.css")
    body(ng-app='superApp')
        block main-content
        include scripts